body{
    margin:0;
    overflow:hidden;
}

header{
    padding:5px;
}

.logo{
    font-size:18px;
}

.page-title{
    font-size:22px;
    margin:5px 0;
}

.menu-container{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:8px;
    padding:8px;
}

.food-card img{
    height:80px;
}

.food-card h3{
    font-size:14px;
    margin:3px;
}

.food-card span{
    font-size:14px;
}